@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Cursor */
.custom-cursor {
  width: 25px;
  height: 25px;
  background: white;
  border-radius: 50%;
  margin: -12.5px 0 0 -12.5px;
  will-change: transform;
  mix-blend-mode: difference;
  transition: transform 0.3s ease-out;
  transform: scale(1);
}

.custom-cursor.hovered {
  transform: scale(1.6);
  margin: -12.5px 0 0 -12.5px;
}

/* Cache le curseur par défaut partout */
* {
  cursor: none !important;
}

/* Spécifiquement pour les éléments interactifs */
a,
button,
[role="button"],
label[for],
select,
summary,
[onclick],
[onmouseover],
[onmouseout],
[onmouseenter],
[onmouseleave],
input[type="submit"],
input[type="image"],
input[type="button"],
input[type="radio"],
input[type="checkbox"],
.clickable,
.button,
.btn {
  cursor: none !important;
}